<html>
    <head>
        <title>
            <%= locals.title %>
        </title>
        <script src="https://kit.fontawesome.com/8449201ccc.js" crossorigin="anonymous"></script>
        <link rel = "stylesheet" href = "/css/home.css">
    </head>
        <body>
            <h1 id="page-heading">
                <i class = "fas fa-address-book"></i> 
                My Contact List</h1>

            <div>
                <ul>
                    <% for(let i of contact_list) { %>
                        <li>
                            <p>
                                <%= i.name %>
                            </p>
                            <p> <%= i.phone %> </p>
                        </li>
                        <% } %>
                </ul>
            </div>
            <form action="/create-contact" method="POST">
                <input type="text" name="name" placeholder="Enter Name">
                <input type="number" name="phone" placeholder="Enter number">

                <button type="submit">Add Contact</button>

            </form>
            <script type = "text/javascript" src = "/js/home.js" ></script>
        </body>
  
</html>